<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Arimo|Merriweather&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News and Weather</title>
    </head>
    
    <body>

        <div class="container mt-5 justify-content-center">
            <div class="row mt-5 justify-content-center">    
                <h1 class="text-center">Upcoming Weather</h1>
            </div>
            <div class="row mt-5 justify-content-center">
                <h2>Today's Weather</h2>
            </div>
            <div class="row mt-5">
                <div class="col-sm-6 text-center">
                    <h4>Current Conditions</h4>
                    <p class="dailytemp"> <%= @forecast["current"]["temp"].round(0) %> °F </p>
                    <img src= "http://openweathermap.org/img/wn/<%= @forecast["daily"][0]["weather"][0]["icon"] %>@2x.png">
                </div>
                <div class="col-sm-6 text-center">
                    <ul style="list-style-type:none;">
                        <li><h4 class="dailytemp">Daily Overview</h4></li>
                        <li><p class="dailytemp"> Today's High: <%= @forecast["daily"][0]["temp"]["max"].round(0) %> °F </p></li>
                        <li><p class="dailytemp"> Today's Low: <%= @forecast["daily"][0]["temp"]["min"].round(0) %> °F </p></li>
                        <li><p class="dailytemp"> Today's Conditions: <%= @forecast["daily"][0]["weather"][0]["description"].capitalize() %></p></li>
                    </ul>
                </div>
            </div>
            <div class="row my-5 justify-content-center">
                <h2 class="text-center">This Week's Forecast</h2>
            </div>
            <div class="row text-center">
                <% day_label_library = ["Tomorrow", "The Next Day", "The Day After"] %>
                <% dll_index_counter = 0 %>
                <% for day in @forecast["daily"][1,3]%>
                    <div class="col-sm-4">
                        <ul style="list-style-type:none;">
                            <li><h4> <%= day_label_library[dll_index_counter] %></h4></li>
                            <li><p class="dailytemp"> Daily High: <%= day["temp"]["max"].round(0) %> °F </p></li>
                            <li><p class="dailytemp"> Daily Low: <%= day["temp"]["min"].round(0) %> °F </p></li>
                            <li><img src= "http://openweathermap.org/img/wn/<%= day["weather"][0]["icon"] %>@2x.png"></li>
                        </ul>
                    </div>
                    <% dll_index_counter += 1 %>
                <% end %>
            </div>
        </div>

        <div class="container mt-5">
            <h1 class="text-center mb-5">Today's Headlines</h1>    
            <ul style="list-style-type:none;">
                <% for story in @news["articles"][0,10] %>
                    <li><p> <%= story["title"] %> | <a href="<%= story["url"]%>"><u>Read it now ►</u></a></p></li>
                <% end %>
            </ul>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>